<%
  const fileName = /(.*)(?=\.html$)/.exec(htmlWebpackPlugin.options.filename)[1];
  const reqFile = require(fileName +'.ejs')({
    'htmlWebpackPlugin' : htmlWebpackPlugin,
  });
-%>
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta property="og:type" content="website" />
    
</head>
<body>
  <div id="app" class="lBd overflow-hidden max-w-[1460px] m-auto">
    <header class="flex items-center py-[28px] px-[25px]">
      <div class="flex items-center pr-[52px]">
        <button 
          type="button" 
          class="
            m-nav-btn j-menu-btn
            flex-shrink-0 relative w-[20px] h-[16px] mr-[35px]
          "
          @click="isNav = !isNav; subNav = '';"
        >
          <i></i>
        </button>
        <a href="/" class="block w-[164px]">
          <%- require('img.ejs')({
            path: require('logo.jpg'),
            alt: 'appx',
          })%>
        </a>
      </div>
      <div class="flex items-center space-x-[8px]">
        <div class="relative h-[48px] w-[245px]">
          <input type="text" class="w-full h-full border-[#737791] border-solid border-[1px] rounded-[8px] py-[2px] pr-[32px] pl-[24px]" placeholder="Serch here...">
          <i class="flex items-center text-[#000] absolute cursor-pointer border-solid border-[#000] border-l-[1px] my-[10px] pl-[10px] pr-[15px] py-[5px] top-0 right-0 ">
            <%- require('svg.ejs')({
              name: 'serch',
              className:'w-[20px] h-[20px]'
            })%>
          </i>
        </div>
        <div class="relative overflow-hidden h-[48px] w-[100px]">
          <select name="" id="" class="w-full h-full appearance-none border-[#737791] text-[#737791] border-solid border-[1px] rounded-[8px] py-[2px] px-[16px]">
            <option value="By All">By All</option>
            <option value="By Station">By Station</option>
            <option value="By Country">By Country</option>
          </select>
          <i class="absolute transform -translate-y-1/2 top-1/2 flex-shrink-0 right-[10px] ml-[5px]">
            <%- require('svg.ejs')({
              name: 'arrow',
              className:'w-[10px] h-[5px]'
            })%>
          </i>
        </div>
      </div>
      <div class="flex flex-grow items-center justify-end space-x-[50px]">
        <div class="flex items-center space-x-[14px]">
          <div class="flex items-center">
            <i>
              <%- require('svg.ejs')({
                name: 'weather',
                className:'w-[20px] h-[20px]'
              })%>
            </i>
            <p class="font-bold ml-[12px]">09:54 am</p>
          </div>
          <div class="relative overflow-hidden h-[48px] w-[170px]">
            <select name="" id="" class="w-full h-full appearance-none bg-[#f2f2f7] text-[#737791] py-[2px] px-[16px]">
              <option value="Antananarivo">Antananarivo</option> 
              <option value="Hongkong">Hongkong</option>
              <option value="Taipei">Taipei</option>
              <option value="Tokyo">Tokyo</option>
            </select>
            <i class="absolute transform -translate-y-1/2 top-1/2 flex-shrink-0 right-0 ml-[5px]">
              <%- require('svg.ejs')({
                name: 'arrow',
                className:'w-[10px] h-[5px]'
              })%>
            </i>
          </div>
        </div>
        <button type="button">
          <i>
            <%- require('svg.ejs')({
              name: 'sys',
              className:'w-[28px] h-[28px]'
            })%>
          </i>
        </button>
        <button type="button" class="relative">
          <i>
            <%- require('svg.ejs')({
              name: 'alert',
              className:'w-[26px] h-[28px]'
            })%>
          </i>
          <small class="rounded-full block absolute right-0 top-0 bg-[#000] w-[7px] h-[7px]"></small>
        </button>
        <div>
          <button type="button" class="flex items-center">
            <%- require('img.ejs')({
              path: require('account.png'),
              alt: 'appx',
              className:'overflow-hidden rounded-full w-[50px] h-[50px]'
            })%>
            <i class="flex-shrink-0 ml-[5px]">
              <%- require('svg.ejs')({
                name: 'arrow',
                className:'w-[10px] h-[5px]'
              })%>
            </i>
          </button>
        </div>
      </div>
    </header>
    <main class="flex p:pr-[26px]">
      <nav class="overflow-hidden flex-shrink-0 transition-all" :class="{ '!w-[260px]' : isNav , 'w-[80px]' : !isNav}">
        <ul>
          <li class="group/nav" v-for="i in 10" :key="i">
            <a 
              href="javascript:;" class="flex items-center px-[26px] py-[15px]"
              :class="{ 
                'group-hover/nav:bg-[#d8dde8]'
                :isNav
              }"
              @click="isNav && subNav !== i ? subNav = i : subNav = ''"
            >
              <i class="
                  relative 
                "
                :class="{ 
                  'p:before:transition-all p:before:absolute p:before:rounded-[10px] p:before:w-[40px] p:before:h-[40px] p:before:-translate-x-1/2 p:before:-translate-y-1/2 p:before:top-1/2 p:before:left-1/2 p:hover:before:bg-[#d8dde8]' 
                  : !isNav}"
              >
                <%- require('svg.ejs')({
                  name: 'home',
                  className:'relative z-1 w-[18px] h-[20px]'
                })%>
              </i>
              <p 
                class="flex-shrink-0 ml-[10px] text-[16px] font-[600] flex-grow"
                :class="{'opacity-0 pointer-events-none':!isNav}"
              >Marketing & Sales</p>
              <i class="flex-shrink-0 ml-[5px]">
                <%- require('svg.ejs')({
                  name: 'arrow',
                  className:'w-[10px] h-[5px]'
                })%>
              </i>
            </a>
            <ul class="overflow-hidden transition-all max-h-0 h-0" :class="{'opacity-0 pointer-events-none':!isNav , 'h-auto max-h-[300px]' : subNav === i}">
              <li class="group/subnav">
                <a href="/" class="flex items-center pl-[55px] py-[10px] group-hover/subnav:bg-[#ededed]">
                  <p class="text-[14px] font-[600]">Option_1</p>
                </a>
                <ul>
                  <li>
                    <a href="/" class="flex items-center pl-[80px] py-[10px]">
                      <p class="text-[14px] font-[400]">Suboption_1</p>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="flex-grow pt-[50px]">
        <ul class="flex font-[500] text-[14px] mb-[25px]">
          <li>
            <p class="text-[#737791] after:content-['>'] after:mx-[15px]">Home</p>
          </li>
          <li>
            <a href="#" class="font-bold text-[#121212]">My Collection</a>
          </li>
        </ul>
        <%- reqFile %>
      </div>
    </main>
  </div>
</body>
</html>

